#treemap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tooltip {
  position: relative;
  background: white;
  display: table;
  border: 3px solid darkgray;
  padding: 1em;
}

