.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  display: table;
  border: 3px solid darkgray;
  padding: 1em;
}

.tooltip-link, .global-link {
  font-size: small;
  text-decoration: underline;
}

.tooltip-title {
  font-size: small;
  font-weight: bolder;
}

.tooltip-headtext {
  font-size: x-small;
}

.fakelink {
  cursor: pointer;
}
