.listrow {
  &.selected {
    background-color: lightgrey;
  }
}

.document-path {
  font-weight: bolder;
}

.highlight-feature {
  font-weight: bolder;
}

.lowlight-feature {
  font-weight: lighter;
}