.list {
  display: flex;
  flex-direction: column;

  .listrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


.margins {
  margin-left: 2em;
  margin-right: 2em;
}