.directory .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightgray;
  padding: .3em;

  a {
    margin-left: 2em;
    .highlight {
      background-color: orange;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;

  .listrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


.margins {
  margin-left: 2em;
  margin-right: 2em;
}