.list {
  display: flex;
  flex-direction: column;

  .listrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .1em;

    &.withline {
      border-bottom: solid black 1px;
    }
  }

  .cell {
    font-size: small;
    border-bottom: solid lightgray 1px;
    margin: 1px;
    padding-left: 1em;

    &.string {
      text-align: left;
      flex: 1;
      width: 100%;
    }

    &.index {
      text-align: right;
      font-weight: bold;
      padding-right: 1em;
      flex: .2;
      background-color: lightgray;
    }

    &.caption {
      text-align: left;
      font-weight: bold;
      padding-right: 1em;
      border-bottom: none;
    }
  }

  .stringcell {
    font-size: small;
    text-align: left;
    flex: 1;
    width: 100%;
    padding-left: 1em;
    border-bottom: solid lightgray 1px;
    margin: 1px;
  }

  .indexcell {
    font-size: small;
  }
}

.pointer {
  cursor: pointer;
}
