<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />


    <title>NLP</title>

    <style>
        .topline {
            margin-left: 50%;
            margin-right: 1em;
            display: flex;
            flex-direction: row;
            justify-content: end;
            position: relative;
        }

        #container {
            z-index: 0;
        }

    </style>
</head>
<body>
<div id="container"></div>
<div class="topline">
    <div class="homelink"><a href="/cosine-browser/cosine-browser.html">Home</a></div>
</div>

<script>
</script>
</body>
</html>