<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />


    <title>nurdemteam eG</title>

    <style>
        .topline {
            font-size: small;
        }

        .topline {
            margin-left: 1em;
            margin-right: 1em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    </style>
</head>
<body>
<div class="topline">
    <div class="homelink"><a href="">Home</a></div>
    <div>server: <span class="version-no-server">unknown version</span></div>
    <div>client: <span class="version-no-client">unknown version</span></div>
</div>
<div id="container"></div>

<script>
</script>
</body>
</html>