<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=2.0" />

    <title>NLP</title>

    <style>
        .topline {
            top: .1em;
            margin-left: 50%;
            margin-right: 1em;
            display: flex;
            flex-direction: row;
            justify-content: end;
            position: relative;
            z-index: 10000;
        }

        #container {
            z-index: 0;
        }

    </style>
</head>
<body>
<div class="topline">
    <div class="link1"></div>
    &nbsp;&nbsp;
    <div class="link2"></div>
    &nbsp;&nbsp;
    <div class="link3"></div>
    &nbsp;&nbsp;
    <div class="switchlink global-link"><a href="#">Switch</a></div>
    &nbsp;&nbsp;
    <div class="homelink global-link"><a href="/cosine-browser/cosine-browser.html" onclick="document.dispatchEvent(new CustomEvent('reload'))">Home</a></div>
</div>
<div id="container"></div>

<script>
    document.addEventListener("reload", () => {
        setTimeout(() => window.location.reload(), 200);
    })
</script>
</body>
</html>